span {
    color: #6c6c6c;
}
ul.pagination {
    text-align: center;
}
table {
    table-layout: fixed;
}
table td{
}
td a:link,td a:visited{
    color: #000000;
}
td a:hover{
    color: #01A252;
}
/*페이지네이션 버튼*/
a.page-link:hover {
    color: #6c6c6c;
}
.list-hr{
    background-color: #99cc99;
    border: 0px;
    height: 6px;
}
.table td {
    text-align: center;
}
/*.table tr:hover{*/
/*    color: #99cc99;*/
/*}*/
.list_eye_icon{
    width: 18px;
    height:24px;
    margin-top: -7px;
}

.qt:hover {
    color: #01A252;
}
