.titlename{  /* 7.16 소희시인*/
    margin-top: -200px;
    color: #000000;
    text-align: center;

}

h2, p {
    text-align: center;
}
.quiz_juje_top, .quiz_juje_bott {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;

}
.mulum_icon{
    text-align: center;
    margin-right: -1000px;
    top: 10px;
}
.juje_img{
    text-align: center;
}
.juje_but{
    text-align: center;
    background-color: #FFFFFF;
    border: #FFFFFF;
    margin-right: 40px;
    margin-left: 40px;
    padding: 10px;
    /*width: 30%;*/
    /*padding: 60px;*/
}
.jackmul_back {
    position: center;
    top: -50px;
    bottom: 0;
    height: 850px;
    width: 1440px;
    margin: auto;
    text-align: center;
}
.jackmul_back1{
    position: center;
    top: -50px;
    bottom: 0;
    height: 600px;
    width: 1300px;
    margin: auto;
    /*text-align: center;*/
}
.jackmul_back2{ /* 7.16 소희시인*/
    top: -50px;
    bottom: 0;
    height: 78px;
    width: 660px;
    margin: auto;
    line-height: 80px;
    display: table;
    position: center;
}

.jackmul_back3{ /* 7.16 소희시인*/
    position: center;
    top: -50px;
    bottom: 0;
    height: 40px;
    width: 230px;
    margin: auto;
    display: table;
}
.pnum {
    text-align: left;
    margin-left: 15px;
}

.quizq {
    margin-top:80px;
    font-weight: bold;
    font-size: 42px;
}

.qu_li_di_bt1{
    background-color: rgb(246, 232, 177);
    border: rgb(246, 232, 177);
}

.quiz_real_next{
    width: 80px;
    height: 80px;
    text-align: center;
    margin-right: -1300px;
    margin-top: -90px;
}
.quiz_real_rig_next1{
    width: 80px;
    height: 80px;
    text-align: center;
    margin-right: -1300px;
    margin-top: 5px;
}
.quiz_real_rig_next2{  /* 7.16 시인소희 */
    width: 50px;
    height: 50px;
    margin-top: -41px;
    margin-left: 142px;
}

.yes {  /* 7.16 시인소희 */
    margin-top: 170px;
    width: 600px;
}
.gojack {  /* 7.16 시인소희 */
    text-align: left;
    margin-left: 22px;
    vertical-align: middle;
    margin-bottom: -9px;
}
/* 8.20 소이 수정 right, wrong */
.next {
    max-width: 15px;
    max-height: 15px;
}