{% extends 'base.html' %}
{% load staticfiles %}
{% block extrastyle %}{% static "css/qna.css" %}{% endblock %}
{% block extra_body %}
<script src="{% static 'js/QnA.js' %}"></script>
{% endblock %}
{% block content %}
<div style="width: 65%; margin: 0 auto;">
<br/><br/><br/><br/><br /><br />
    <h3 style="float: left;"><strong>QnA</strong></h3>
    {% if user.is_active %}
    <a href="{% url 'staff:q_new' %}"><button type="button" class="btn btn-outline-success" style="float: right;">질문쓰기</button></a>
    {% else %}
    <a  onclick="needLogin()"><button type="button" class="btn btn-outline-success" style="float: right;">질문쓰기</button></a>
    {% endif %}
    <br/><br/>
    <hr class="list-hr">
{# ----------------------------- 질문사항 리스트 및 디테일 ---------------------------#}
    <table class="table">
        {% for qna in qnas %}
    {% if qna.lock == True %}
        {% if qna.user == user %}
        <tr id="flip_{{ qna.id }}" style="background-color: #ffffff">
            <td class="qt" style="text-align: left">{{ qna.title }}</td><td>{{ qna.user }}</td><td style="color: #6c6c6c;">{{ qna.date|date:"Y년 M d일" }}</td>
        </tr>
        {% elif user.is_superuser %}
        <tr id="flip_{{ qna.id }}" style="background-color: #ffffff">
            <td class="qt" style="text-align: left">{{ qna.title }}</td><td>{{ qna.user }}</td><td style="color: #6c6c6c;">{{ qna.date|date:"Y년 M d일" }}</td>
        </tr>
        {% else %}
        <tr><td colspan="3" class="qt" style="text-align: left"><img src="{% static 'img/lock.png' %}" class="list_lock_icon"/>비공개 질문입니다.</td></tr>
        {% endif %}
    {% elif qna.lock == False %}
        <tr id="flip_{{ qna.id }}" style="background-color: #ffffff">
            <td class="qt" style="text-align: left">{{ qna.title }}</td><td>{{ qna.user }}</td><td style="color: #6c6c6c;">{{ qna.date|date:"Y년 M d일" }}</td>
        </tr>
    {% endif %}
        {#       질문 작성자한테 보임      #}
        {% if qna.user == user %}
        <tr class="panel" style="display: none; background-color: #fafafa">
            <td colspan="2">{{ qna.question|safe }}</td>
            <td style="vertical-align: middle; text-align: center;">
                <a href="{% url 'staff:q_edit' pk=qna.pk %}"><button type="button" class="btn btn-outline-success">수정</button></a>
                <a href="{% url 'staff:qna_remove' pk=qna.pk %}" onclick="return confirm('삭제하시겠습니까?');">
                <button type="button" class="btn btn-outline-success">삭제</button></a>
            </td>
        </tr>
        {% else %}
            <tr class="panel" style="display: none; background-color: #fafafa">
            <td colspan="3">{{ qna.question|safe }}</td>
        </tr>
        {% endif %}
{# ----------------------------- 답변이 없을 때 -------------------------------  #}
        {% if qna.answer == None %}
        <tr class="apanel" style="display: none; background-color: #99cc99">
{#           관리자한테만 보임   #}
            {% if user.is_superuser %}
                <td colspan="3" class="none_a"><a href="{% url 'staff:a_edit' pk=qna.pk %}"><button type="button" class="btn btn-outline-success">답변달기</button></a></td>
            {% else %}
                <td colspan="3"><p>답변이 아직 없습니다.</p></td>
            {% endif %}
        </tr>
{# ----------------------------- 답변이 있을 때 -------------------------------  #}
        {% else %}
        <tr class="apanel" style="display: none;">
            {% if user.is_superuser %}
            <td colspan="2">{{ qna.answer|safe }}</td>
            <td style="vertical-align: middle; text-align: center;">
                <a href="{% url 'staff:a_edit' pk=qna.pk %}"><button type="button" class="btn btn-outline-success">수정</button></a>
            </td>
            {% else %}
            <td colspan="3">{{ qna.answer|safe }}</td>
            {% endif %}
        </tr>
        {% endif %}
    {% endfor %}

    </table>
    <br/>
    {#6.2소이 - 페이지네이션 #}
{% if qnas.has_other_pages %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center pagination-sm">
            {% if qnas.has_previous %}
              {% if not search %}
              <li class="page-item">
                  <a class="page-link" href="{% url 'staff:qna' %}?page={{ qnas.previous_page_number }}" tabindex="-1">이전</a>
              </li>
              {% else %}
                <li class="page-item">
                  <a class="page-link" href="{% url 'staff:qna' %}?{{search}}&page={{ qnas.previous_page_number }}" tabindex="-1">이전</a></a>
              </li>
              {% endif %}
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">이전</a>
            </li>
            {% endif %}
            {% for object in qnas.paginator.page_range %}
                <li class="page-item"><a class="page-link" href="{% url 'staff:qna' %}?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
            {% endfor %}
            {% if qnas.has_next %}
              {% if not search %}
              <li class="page-item">
                  <a class="page-link" href="{% url 'staff:qna' %}?page={{ qnas.next_page_number }}">다음</a>
              </li>
              {% else %}
                <li class="page-item">
                  <a class="page-link" href="{% url 'staff:qna' %}?{{search}}&page={{ qnas.next_page_number }}">다음</a>
              </li>
              {% endif %}
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">다음</a>
            </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
{# --------------------------------- 질문 수정 --------------------------------------- #}
{% if qform %}
    <form style=" margin: 0 auto; width: 85%;" class="edit_form" method="POST">{% csrf_token %}
    <button type="submit" class="btn btn-outline-success save">저장</button>
    <br/><br/>
        <table class="table">
            <tbody>
            <tr>
                <td>제목 : {{ qform.title }}</td><td>비공개 &nbsp{{ qform.lock }}</td>
            </tr>
            <tr>
                <td colspan="2">{{ qform.question }}</td>
            </tr>
            </tbody>
        </table><br/>
    </form>
{% endif %}
{# ---------------------------------- 답변 수정 --------------------------------------- #}
{% if aform %}
    <form style=" margin: 0 auto; width: 85%;" class="edit_form" method="POST">{% csrf_token %}
    <button type="submit" class="btn btn-outline-success save">저장</button>
    <br/><br/>
        <table class="table">
            <tbody>
            <tr>
                <td>{{ aform.answer }}</td>
            </tr>
            </tbody>
        </table><br/>
    </form>
{% endif %}
</div>

{% endblock %}